@font-face {
  font-family: "PrincessSofia-Regular";
  src: local("PrincessSofia-Regular"),
    url(./fonts/PrincessSofia-Regular.ttf) format("truetype");
}
body {
  font-family: "PrincessSofia-Regular", sans-serif;
  font-size: 11px;
}

span {
  font-family: "PrincessSofia-Regular", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.spellbook {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.spellbook-image {
  max-width: 850px;
}

.spells-wrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
}

.spells-left,
.spells-right {
  display: flex;
  flex-direction: column;
}

.spell {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 10px;
  padding-left: 35px;
}
.spell:hover {
  background-color: #eec14569;
}

.spell:active {
  cursor: progress;
}
.spell img {
  width: 50px;
  height: 50px;
}

.spell span {
  margin-top: 10px;
}

.spell-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.spell-wrapper p {
  margin-left: 20px;
  max-width: 150px;
}
